<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Aqua</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>AquaIpad</string>
			<string>AquaLargeIpad</string>
			<string>AquaNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Aura</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>AuraIpad</string>
			<string>AuraLargeIpad</string>
			<string>AuraNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Azure</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>AzureIpad</string>
			<string>AzureLargeIpad</string>
			<string>AzureNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Chrome</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ChromeIpad</string>
			<string>ChromeLargeIpad</string>
			<string>ChromeNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Crystal</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>CrystalIpad</string>
			<string>CrystalLargeIpad</string>
			<string>CrystalNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Depth</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>DepthIpad</string>
			<string>DepthLargeIpad</string>
			<string>DepthNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Frost</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>FrostIpad</string>
			<string>FrostLargeIpad</string>
			<string>FrostNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Glow</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>GlowIpad</string>
			<string>GlowLargeIpad</string>
			<string>GlowNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>MonoDark</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>MonoDarkIpad</string>
			<string>MonoDarkLargeIpad</string>
			<string>MonoDarkNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>MonoLite</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>MonoLiteIpad</string>
			<string>MonoLiteLargeIpad</string>
			<string>MonoLiteNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>NeonWawe</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>NeonWaweIpad</string>
			<string>NeonWaweLargeIpad</string>
			<string>NeonWaweNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Obsidian</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ObsidianIpad</string>
			<string>ObsidianLargeIpad</string>
			<string>ObsidianNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>Steel</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>SteelIpad</string>
			<string>SteelLargeIpad</string>
			<string>SteelNotification</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
</dict>
</plist>
